{%- macro render_field(form, fields, scope) %}
{%- import _self as self %}
{%- for index, field in fields %}
    {%- set show_field = field.store ?? true %}
    {%- set input = attribute(field, "input@") %}
    {%- if input is null or input == true %}
        {%- if show_field %}
            {%- set value = form.value(scope ~ (field.name ?? index)) -%}
            {{- scope ~ trim(field.name ?? index) }}: {{ string(value is iterable ? value|json_encode : value|escape('yaml')) ~ "\r\n" }}
        {%- endif %}
    {%- else %}
        {%- if field.fields %}
        {%- set new_scope = field.nest_id ? scope ~ field.name ~ '.' : scope -%}
        {{- self.render_field(form, field.fields, new_scope) }}
        {%- endif %}
    {%- endif %}
{%- endfor %}
{%- endmacro %}
{%- import _self as macro %}
{%- autoescape false %}
{{- macro.render_field(form, form.fields, '') ~ "\r\n" }}
{%- endautoescape %}