.langswitcher {
    position: relative;
    /*top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    margin-top: 0px;
    margin-left: 1rem !important;
    display: inline-block;
}

.langswitcher li {
    display: inline-block;
    margin-left: 0.5rem;
    line-height: 1rem;
}

.langswitcher .active {
    font-weight: bold;
    text-decoration: underline;
}
