{% macro timeline_iteration(timeline_content, config_truncate) %}
    {% set i = 1 %}
    {% for item in timeline_content %}

        {% if item.header.truncate is defined %}
            {% set truncate = item.header.truncate %}
        {% elseif config_truncate is defined %}
            {% set truncate = config_truncate %}
        {% else %}
            {% set truncate = false %}
        {% endif %}

        {% if item.depth > 1 %}
            {% if item.template == 'timeline' %}
                {% include 'partials/timeline_period.html.twig' with {'page': item, 'truncate': truncate} only %}
            {% elseif item.template == 'timeline_event' %}
                {% include 'partials/timeline_item.html.twig' with {'page': item, 'i': i, 'truncate': truncate} only %}
            {% set i = i + 1 %}
            {% endif %}
        {% endif %}
        {% if item.children is defined and item.children is not empty %}
            {{ _self.timeline_iteration(item.children, truncate) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
