<nav>
<span style="align-items:center;" class="langswitcher">
{% for language in ["de", "eo"] %}

    {% set show_language = true %}

    {% if language == langswitcher.current %}
        {% set lang_url = page.url %}
        {% set active_class = ' active' %}
        {% set active_css = 'color: #454d5d;' %}
    {% else %}
        {% set active_css = 'color: #aaa;' %}
        {% set base_lang_url = base_url_simple ~ grav.language.getLanguageURLPrefix(language) %}
        {% set lang_url = base_lang_url ~ langswitcher.page_route ~ page.urlExtension %}
        {% set untranslated_pages_behavior = grav.config.plugins.langswitcher.untranslated_pages_behavior %}
        {% if untranslated_pages_behavior != 'none' %}
            {% set translated_page = langswitcher.translated_pages[language] %}
            {% if (not translated_page) or (not translated_page.published) %}
                {% if untranslated_pages_behavior == 'redirect' %}
                    {% set lang_url = base_lang_url ~ '/' %}
                {% elseif untranslated_pages_behavior == 'hide' %}
                    {% set show_language = false %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% set active_class = ' inactive' %}
    {% endif %}

    <a style="{{active_css}}" href="{{ lang_url ~ uri.params }}" class="{{ active_class }}">{{ language }}</a></span>
    {% if language == "de" %} | {% endif %}

{% endfor %}
</span>
</nav>