<li class="timeline-item {% if i is odd %}odd{% else %}even{% endif %}">
    <div class="timeline-info">
    {% if page.header.locale %}
        <span>{{ dt(page.header.date, page.header.date_format, page.header.locale) }}</span>
    {% else %}
        <span>{{ dt(page.header.date, page.header.date_format) }}</span>
    {% endif %}
    </div>
    {% if page.header.image %}
    <figure itemprop="image">
        <a href="{{ page.url }}">
            <img src="{{ page.media[page.header.image].url }}" alt="{{ page.header.image_alt }}">
        </a>
    </figure>
    {% endif %}
    <div class="timeline-marker"></div>
    <div class="timeline-content">
        <a href="{{ page.url }}">
            <h3 class="timeline-title">{{ page.header.title }}</h3>
        </a>
        {% if page.header.subtitle %}
        <h4 class="timeline-title">{{ page.header.subtitle }}</h4>
        {% endif %}
        {{ page.content }}
    </div>
</li>
