{% extends 'partials/base.html.twig' %}

{% block content %}


<div class="columns">
<div class="column hide-md col-1"></div>

<div class="column col-md-12 col-10" style="box-shadow: 0 10px 45px -9px rgba(0,0,0,.1);">
    {{ content|raw }}
    {% include "forms/form.html.twig" %}
</div>
<div class="column hide-md col-1"></div>
</div>

{% endblock %}
