{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}

{% block hero %}
<section id="ss" class="section modular-hero hero hero-large parallax" style="background-image: url('/gej/user/pages/images/jes-dancado.jpg');">
    <section class="container" style="color:white; padding-top:200px;text-align:center">
        <h1 style="color:white;">Deutsche Esperanto Jugend</h1>
        <h2 style="color:white;">Wir machen Völkerverständigung!</h2>
    </section>
    <i id="to-start" class="pulse fa fa-angle-down"></i>
</section>
{% endblock %}

{% block content %}

<div class="bricklayer">
{% for child in collection %}
    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
{% endfor %}
</div>

    {{ page.content|raw }}

    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>

    {# instagram_feed() #}
{% endblock %}
