{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% import "macros/timeline.html.twig" as macros %}
{% if page.header.truncate is defined %}
    {% set config_truncate = page.header.truncate %}
{% elseif config.plugins['timeline'].truncate is defined %}
    {% set config_truncate = config.plugins['timeline'].truncate %}
{% else %}
    {% set config_truncate = false %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    /* Based on https://codepen.io/brady_wright/pen/NNOvrW */
    .timeline-page body {
      color: #768390;
      background: #fff;
      font-family: "Effra", Helvetica, sans-serif;
      padding: 0;
      -webkit-font-smoothing: antialiased; }

    .timeline-page h1,
    .timeline-page h2,
    .timeline-page h3,
    .timeline-page h4,
    .timeline-page h5,
    .timeline-page h6 {
      color: #3d4351;
      margin-top: 0; }

    .timeline-page .header {
      text-align: center; }
      .timeline-page .header .title,
      .timeline-page .header .subtitle {
        margin: 0.35em 0;
        line-height: 1.2;
        overflow-wrap: break-word;
        overflow: visible;
        word-break: break-word;
        white-space: normal; }
      .timeline-page .header p {
        margin: 1em auto; }
        .timeline-page .header p:last-child {
          margin-bottom: 0; }

    .timeline {
      list-style: none !important;
      margin: 0;
      padding: 0;
      width: 100%; }
      .timeline h1,
      .timeline h2,
      .timeline h3,
      .timeline h4,
      .timeline h5,
      .timeline h6 {
        line-height: 1; }
      .timeline a,
      .timeline a:link,
      .timeline a:visited {
        color: black !important; }
      .timeline a:hover,
      .timeline a:active {
        color: #262626 !important; }
      .timeline p a,
      .timeline p a:link,
      .timeline p a:visited {
        text-decoration: underline; }
      .timeline p a:hover,
      .timeline p a:active {
        text-decoration: none; }

    .timeline-item {
      padding-left: 40px !important;
      position: relative; }
      .timeline-item:last-child {
        padding-bottom: 0; }
      .timeline-item .timeline-content {
        padding-bottom: 40px; }
        .timeline-item .timeline-content * {
          max-width: 100%; }
        .timeline-item .timeline-content p:last-child {
          margin-bottom: 0; }
        .timeline-item .timeline-content ol,
        .timeline-item .timeline-content ul {
          list-style-position: inside; }
        .timeline-item .timeline-content .timeline-title {
          overflow-wrap: break-word;
          overflow: visible;
          word-break: break-word;
          white-space: normal; }
        .timeline-item .timeline-content .footnotes ol li {
          text-align: left !important; }
        .timeline-item .timeline-content iframe {
          width: 640px;
          height: 360px; }
      .timeline-item.odd .timeline-content ul,
      .timeline-item.odd .timeline-content ol {
        width: fit-content;
        margin-left: auto;
        text-align: left; }
      .timeline-item.odd figure {
        width: calc(50% - 36px);
        margin-right: calc(50% - 24px);
        text-align: right; }
      .timeline-item.even .timeline-content ul,
      .timeline-item.even .timeline-content ol {
        width: fit-content;
        margin-right: auto;
        text-align: right; }
      .timeline-item.even figure {
        width: calc(50% - 12px);
        margin-left: calc(50% + 12px);
        text-align: left; }
      .timeline-item.period {
        padding: 0; }
        .timeline-item.period .timeline-info {
          display: none; }
        .timeline-item.period .timeline-marker:before {
          background: transparent;
          content: "";
          width: 15px;
          height: auto;
          border: none;
          border-radius: 0;
          top: 0;
          bottom: 30px;
          position: absolute;
          border-top: 3px solid #ccd5db;
          border-bottom: 3px solid #ccd5db; }
        .timeline-item.period .timeline-marker:after {
          content: "";
          height: 32px;
          top: auto; }
        .timeline-item.period .timeline-content {
          padding: 40px 0 70px; }
      .timeline-item figure {
        position: relative;
        width: calc(50% - 30px);
        height: 200px;
        max-height: 200px;
        min-height: 200px;
        overflow: hidden; }
        .timeline-item figure a {
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
        .timeline-item figure img {
          bottom: 0;
          height: 100%;
          left: 0;
          object-fit: cover;
          object-position: center;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%; }

    .timeline-info {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 3px;
      margin: 0 0 0.5em 0;
      text-transform: uppercase;
      white-space: nowrap; }
      .timeline-info .timeline-content {
        padding-bottom: 40px; }
        .timeline-info .timeline-content p:last-child {
          margin-bottom: 0; }
        .timeline-info .timeline-content * {
          max-width: 100%; }
      .timeline-info.odd .timeline-content ul,
      .timeline-info.odd .timeline-content ol {
        width: fit-content;
        margin-left: auto;
        text-align: left; }
      .timeline-info.odd figure {
        margin-right: 50%;
        text-align: right; }
      .timeline-info.even .timeline-content ul,
      .timeline-info.even .timeline-content ol {
        width: fit-content;
        margin-right: auto;
        text-align: right; }
      .timeline-info.even figure {
        margin-left: calc(50% + 30px);
        text-align: left; }
      .timeline-info.period {
        padding: 0; }
        .timeline-info.period .timeline-info {
          display: none; }
        .timeline-info.period .timeline-marker:before {
          background: transparent;
          content: "";
          width: 15px;
          height: auto;
          border: none;
          border-radius: 0;
          top: 0;
          bottom: 30px;
          position: absolute;
          border-top: 3px solid #ccd5db;
          border-bottom: 3px solid #ccd5db; }
        .timeline-info.period .timeline-marker:after {
          content: "";
          height: 32px;
          top: auto; }
        .timeline-info.period .timeline-content {
          padding: 40px 0 70px; }
      .timeline-info figure {
        position: relative;
        width: calc(50% - 30px);
        height: 200px;
        max-height: 200px;
        min-height: 200px;
        overflow: hidden; }
        .timeline-info figure a {
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
        .timeline-info figure img {
          bottom: 0;
          height: 100%;
          left: 0;
          object-fit: cover;
          object-position: center;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%; }

    .timeline-marker {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 15px; }
      .timeline-marker:before {
        background: #ff6b6b;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out; }
      .timeline-marker:after {
        content: "";
        width: 3px;
        background: #ccd5db;
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0;
        left: 6px; }
      .timeline-item:last-child .timeline-marker:after {
        content: none; }

    .timeline-centered .marker-outline .timeline-marker:before {
      background: transparent;
      border-color: #ff6b6b; }

    .timeline-centered .marker-outline .timeline-item:hover .timeline-marker:before {
      background: #ff6b6b; }

    @media (min-width: 992px) {
      .timeline-centered .timeline-item,
      .timeline-centered .timeline-info,
      .timeline-centered .timeline-marker,
      .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0; }
      .timeline-centered .timeline-item {
        padding-bottom: 40px;
        overflow: hidden; }
      .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%; }
      .timeline-centered .timeline-info,
      .timeline-centered .timeline-content {
        width: 50%; }
      .timeline-centered > .timeline-item.odd .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px; }
      .timeline-centered > .timeline-item.odd .timeline-content {
        float: left;
        text-align: right;
        padding-right: 36px; }
      .timeline-centered > .timeline-item.even .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px; }
      .timeline-centered > .timeline-item.even .timeline-content {
        float: right;
        text-align: left;
        padding-left: 12px; }
      .timeline-centered > .timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center; }
      .timeline-centered .timeline-item.period {
        padding: 3em 0 5em; }
      .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto; }
      .timeline-centered .period .timeline-title {
        left: auto; } }

    @media (max-width: 992px) {
      .timeline-centered .timeline-item {
        display: list-item; }
        .timeline-centered .timeline-item .timeline-info {
          padding-right: 0; }
        .timeline-centered .timeline-item .timeline-marker {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 15px; }
        .timeline-centered .timeline-item.odd figure, .timeline-centered .timeline-item.even figure {
          width: 100%;
          margin-left: 0; } }

    /* Print-style: Pure text */
    @media print {
      @page {
        margin: 2cm 1cm; }
      html {
        font-size: 16px; }
      body {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.45; }
        body h1,
        body h2,
        body h3,
        body h4 {
          margin: 0.35em 0;
          font-weight: inherit;
          line-height: 1.2; }
        body h1 {
          margin-top: 0;
          font-size: 2.44141em; }
        body h2 {
          font-size: 1.95313em; }
        body h3 {
          font-size: 1.5625em; }
        body h4 {
          font-size: 1.25em; }
        body h5,
        body h6,
        body .timeline-info {
          margin: 0.35em 0 0.125em;
          font-weight: inherit;
          font-size: 1em;
          line-height: 1; }
        body p {
          margin-bottom: 1.3em; }
      a.footnote-ref::after {
        content: "" !important; }
      a[rev="footnote"] {
        display: none !important; }
      iframe {
        display: none !important; }
      .header,
      .timeline-wrapper {
        width: 95% !important;
        max-width: 95% !important;
        flex: 0 0 95% !important;
        margin: 0 auto !important; }
      .timeline .timeline-item {
        margin: 2.44141em 0;
        padding: 0 !important;
        text-align: left !important; }
        .timeline .timeline-item.odd .timeline-marker, .timeline .timeline-item.even .timeline-marker, .timeline .timeline-item.period .timeline-marker {
          display: none !important; }
        .timeline .timeline-item.odd .timeline-info, .timeline .timeline-item.even .timeline-info, .timeline .timeline-item.period .timeline-info {
          display: block;
          width: 15%;
          float: right !important;
          margin-top: 0.6em !important;
          padding: 0 !important;
          text-align: right !important; }
          .timeline .timeline-item.odd .timeline-info span, .timeline .timeline-item.even .timeline-info span, .timeline .timeline-item.period .timeline-info span {
            display: block;
            width: 100%;
            overflow-wrap: break-word;
            overflow: visible;
            word-break: break-word;
            white-space: normal;
            line-height: 1.4; }
        .timeline .timeline-item.odd .timeline-content, .timeline .timeline-item.even .timeline-content, .timeline .timeline-item.period .timeline-content {
          display: block;
          width: 85%;
          padding: 0 !important;
          text-align: left !important; }
          .timeline .timeline-item.odd .timeline-content a, .timeline .timeline-item.even .timeline-content a, .timeline .timeline-item.period .timeline-content a {
            text-decoration: none !important; }
          .timeline .timeline-item.odd .timeline-content h2,
          .timeline .timeline-item.odd .timeline-content h3,
          .timeline .timeline-item.odd .timeline-content h4, .timeline .timeline-item.even .timeline-content h2,
          .timeline .timeline-item.even .timeline-content h3,
          .timeline .timeline-item.even .timeline-content h4, .timeline .timeline-item.period .timeline-content h2,
          .timeline .timeline-item.period .timeline-content h3,
          .timeline .timeline-item.period .timeline-content h4 {
            text-align: left; }
          .timeline .timeline-item.odd .timeline-content ul,
          .timeline .timeline-item.odd .timeline-content ol, .timeline .timeline-item.even .timeline-content ul,
          .timeline .timeline-item.even .timeline-content ol, .timeline .timeline-item.period .timeline-content ul,
          .timeline .timeline-item.period .timeline-content ol {
            width: 100% !important;
            margin: 0 !important;
            text-align: left !important; }
          .timeline .timeline-item.odd .timeline-content p a:after, .timeline .timeline-item.even .timeline-content p a:after, .timeline .timeline-item.period .timeline-content p a:after {
            content: " (" attr(href) ") "; }
        .timeline .timeline-item.odd figure[itemprop="image"], .timeline .timeline-item.even figure[itemprop="image"], .timeline .timeline-item.period figure[itemprop="image"] {
          margin: 0 !important;
          display: none !important; }
        .timeline .timeline-item.odd, .timeline .timeline-item.even {
          margin-left: 1em !important; }
        .timeline .timeline-item.period {
          margin: 1em 0 !important; } }

    /* Print-style: Including graphics */
    @media print {
      .print.timeline-wrapper .timeline .timeline-item {
        margin: 2.44141em 0;
        padding: 0 !important;
        text-align: left !important; }
        .print.timeline-wrapper .timeline .timeline-item.odd .timeline-marker, .print.timeline-wrapper .timeline .timeline-item.even .timeline-marker, .print.timeline-wrapper .timeline .timeline-item.period .timeline-marker {
          display: block !important; }
        .print.timeline-wrapper .timeline .timeline-item.odd .timeline-info, .print.timeline-wrapper .timeline .timeline-item.even .timeline-info, .print.timeline-wrapper .timeline .timeline-item.period .timeline-info {
          display: block;
          width: 15%;
          float: none !important;
          margin-top: 0 !important;
          padding-left: 30px !important;
          text-align: left !important; }
        .print.timeline-wrapper .timeline .timeline-item.odd .timeline-content, .print.timeline-wrapper .timeline .timeline-item.even .timeline-content, .print.timeline-wrapper .timeline .timeline-item.period .timeline-content {
          width: calc(100% - 30px);
          padding-left: 30px !important; }
        .print.timeline-wrapper .timeline .timeline-item.odd figure[itemprop="image"], .print.timeline-wrapper .timeline .timeline-item.even figure[itemprop="image"], .print.timeline-wrapper .timeline .timeline-item.period figure[itemprop="image"] {
          display: block !important;
          width: calc(100% - 30px);
          margin-left: 30px !important; }
        .print.timeline-wrapper .timeline .timeline-item.period .timeline-marker {
          display: none !important; }
      .no-print,
      .no-print * {
        display: none !important; } }

    /*# sourceMappingURL=timeline.css.map */
    </style>
    {% do assets.addCss('theme://timeline/assets/timeline.css') %}
{% endblock %}

{% block content %}
    <body class="timeline-page">
    {% block timeline %}
        {% import "macros/timeline.html.twig" as macros %}
        {% if page.header.truncate is defined %}
            {% set config_truncate = page.header.truncate %}
        {% elseif config.plugins['timeline'].truncate is defined %}
            {% set config_truncate = config.plugins['timeline'].truncate %}
        {% else %}
            {% set config_truncate = false %}
        {% endif %}
        <div class="container-fluid">
            <div class="columns">
                <div class="header col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
                    {{ page.content }}
                </div>
                <div class="print timeline-wrapper col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
                    {% block timeline_events %}
                    <ul class="timeline timeline-centered">

                      {% include 'partials/timeline_item.html.twig' with {'page': { 'content':"**Geschichtlicher Abriss**

In den dreißiger Jahren wurden alle [Esperanto-Organisationen
verboten](http://www.esperantoland.org/de/plu.php?msgid=814). Daher war nach
dem Krieg ein Neuanfang nötig.

* 1947
     * Wiedergründung des Deutschen Esperanto-Bunds in Frankfurt
     * Horst Kliemann (Hannover) beginnt die jungen Esperantisten der 4 Zonen in Deutschland zu vereinen.
     * Zusammenkunft der Gruppen-Vorsitzenden und -Stellvertreter in Hannover – behandelt wird die Organisation der Jugend-Sektion (JS) des DEB und die Vorbereitung des internationalen Jugend-Zeltlagers.
* 1948
     * Die Jugend-Sitzung während des 26sten Deutschen Esperanto-Kongresses in München erwählt Horst Kliemann zum Vorsitzenden der Jugend-Sektion und akzeptiert ein Statut (ein Vorschlag der Gruppe aus Hannover).
     * Internationales Jugend-Zeltlager in Garmisch-Partenkirchen mit 360 Teilnehmern, Haupt-Organisator: Hermann Heiß, München.
     * DEB-JS hat mehr als 100 Jugend-Gruppen in allen Zonen Deutschlands. Diverse Kinder-Gruppen (Berlin, Bremen, Hannover, Frankfurt, Stuttgart).
* 1949 - K. Kaifer wird Vorsitzender.
* 1950
     * A. Hopfenmüller (Aschaffenburg) wird Vorsitzender.
     * Flugblatt „Wir rufen Euch, Jungen und Mädel in Deutschland“.
     * Sechster IJK in Konstanz.
* 1951 - Eine JS-Vorsitzenden-Versammlung (im Rahmen des internationalen Treffens in Urfeld/Walchensee?) entscheidet die JS zu verselbständigen.
* 04.10.1951 - Geburt der selbständigen Deutschen Esperanto-Jugend

###  Zeitzeugenbericht

1945, nach einem Jahrzehnt des Verbots, erblühte Esperanto wieder und zog auch
junge Menschen an, die eine Jugendabteilung im DEB bildeten. Sie organisierten
u. a. ein großes Treffen in Kochel, direkt nach dem UK 1951 in München.

Uns jungen Aktiven war klar, dass ein selbstständiger Jugendverband
(eingebunden in den allgemeinen Verband) mehr Möglichkeiten hat, auf Esperanto
aufmerksam zu machen. Auf örtlicher Ebene konnten wir in offiziellen
Institutionen wie den Stadtjugendringen mitarbeiten und etwaige Vorteile wie
kostenlose Gruppenräume nutzen. Auch auf Landesebene konnten wir mitmischen.
Und die Selbstständigkeit als echter Jugendverband eröffnete uns auch den
Zugang zu finanzieller Unterstützung vom Staat.

Damals waren Studenten der Universität Freiburg der aktive Kern der DEJ. 1952
reisten der Vorsitzende und die Kassiererin der DEJ von Freiburg in die
Hauptstadt Bonn. Sie erhielten die gewünschte Hilfe. Aber als sie eine
Erstattung ihrer Fahrtkosten beantragten, protestierte ein Mitglied des DEB-
Vorstandes - vor allem weil ein Mann und eine Frau gemeinsam gereist waren
(die später heirateten). Eine erste Spannung zwischen DEB und DEJ.

Ein Verband, der öffentliche Mittel beantragten wollte, musste in allen
Bundesländern vertreten sein. Der DEJ-Vorstand versucht also, überall genügend
Mitglieder nachzuweisen. Das Zentrum der DEJ befand sich im damaligen
Bundesland Südbaden, ich hingegen in Flensburg, denkbar weit entfernt. So weit
zu fahren, war damals nicht üblich, also lief der Kontakt per Post. Trotzdem
gelang es uns, dass die DEJ bundesweit vertreten war. Eine wichtige
Veranstaltung der DEJ war schon damals das IS. Die Vorträge hielten erfahrene
Fachleute; die jungen Leute waren nur Zuhörer. Ein häufiger Redner war Prof.
Lapenna. (Ich hielt meinen ersten Vortrag mit 31 Jahren, 1962 in Rüsselsheim.)
Erst später durften die jungen Leute selber Vorträge halten.

Es gab viele Kontakte von DEJ-Mitgliedern mit den Nachbarverbänden, was bei
einem Esperanto-Verband selbstverständlich ist. Aber die DDR war für uns
vollkommen unerreichbar. Auch die Aufnahme des DDR-Esperanto-Verbandes in den
Welt-Esperanto-Bund UEA 1977 änderte daran wenig. Nur unter Wissenschaftlern
war ein wenig Kontakt möglich, unter jungen Leuten nicht. Die
Wiedervereinigung brachte auch die Verschmelzung der Esperanto-Verbände mit
sich.

_Dr. Werner Bormann, im DEB seit 1949, bis 1953 im DEJ-Vorstand, verfasst im
Juni 2004_"|markdown}, 'i': 0, 'truncate': false} only %}

                      {% include 'partials/timeline_item.html.twig' with {'page': { 'content':"Die erste [Internationale Woche](http://esperanto.de/dej/geschichte/is) (IS)
fand sechs Jahre nach der Vereinsgründung in Mainz mit dem Thema “Kulturelle,
politische und wirtschaftliche Fragen der europäischen Einigung” statt. Mit
verschiedenen Themen wurde sie seitdem jedes Jahr wiederholt, mehr
Informationen dazu liefert die vollständige Liste aller IS-Orte und Themen auf
Esperanto. In den späten 70ern begann die DEJ ein Programm zu organisieren,
das es jungen Deutschen aus der BRD ermöglichte, hinter den eisernen Vorhang
nach Polen zu fahren, wobei diese sogar vom obligatorischen Devisenumtausch
befreit wurden. Generell neigt man bei der Lektüre von Dokumenten aus dieser
Zeit zu der Ansicht, dass in der DEJ der siebziger und achtziger Jahre
deutlich mehr über politisches Engagement abseits von Sprachenfragen
diskutiert wurde als heute.

Forum dafür wurde vor allem die Vereinszeitschrift “GEJ-gazeto”, die 1979 von
Thomas Bormann und anderen gegründet wurde. Der Name war zunächst ein
Arbeitstitel, zusammengesetzt aus der Esperantosprachigen Abkürzung des
Vereins (“Germana Esperanto-Junularo”) und dem Wort “gazeto” - Zeitung – er
hielt sich aber sehr lange. Ein ausführliches Interview mit ihm erschien in
der Mitgliedszeitschrift “Kune” 4/2004.

“Kune” und “GEJ-gazeto” - hat der Verein jetzt zwei Zeitschriften? Nein. Die
GEJ-gazeto hat aufgrund der Ähnlichkeit von “gej” zum englischen Wort “gay”
(schwul) (und dem entsprechenden Esperanto-Wort 'geja') oft Missverständnisse
innerhalb und außerhalb der Esperanto-Welt ausgelöst und wurde deswegen 1999
nach einer Idee von [Gunnar R. Fischer](http://www.muenster.de/%7Ekunar/) und
Till Schönberner umbenannt in “Kune”, was soviel heißt wie “gemeinsam”.

1985 erschien das Lehrbuch [Tesi, la testudo](http://tesitestudo.de/), dass
seitdem in unzähligen Kursen eingesetzt wurde und 2008 in einer Neuauflage
erschien."|markdown}, 'i': 1, 'truncate': false} only %}

                      {% include 'partials/timeline_item.html.twig' with {'page': { 'content':"Esperanto-Gruppen, die nach dem Ende des Zweiten Weltkrieges in der
Sowjetischen Besatzungszone wiedererstanden waren, wurden 1949 auf Grund eines
Dekretes der 'Deutschen Verwaltung des Inneren in der SBZ' verboten. Die
Bemühungen ostdeutscher Esperantisten um eine Wiederzulassung organisierter
Tätigkeit für und mit Esperanto führten erst am 31. März 1965 zur Gründung des
'Zentralen Arbeitskreises der Esperanto-Freunde im Deutschen Kulturbund'
(ZAKE), der 1981 in den 'Esperanto-Verband im Kulturbund der DDR' umgewandelt
wurde (gebräuchliche Esperanto-Abkürzung: GDREA).

Seit 1968 koordinierte eine Jugendkommission Aktivitäten junger Esperantisten.
Sie unterhielt Kontakte zur [FDJ](http://de.wikipedia.org/wiki/FDJ) und wirkte
seit 1971 im Esperanto-Weltjugendverband [TEJO](http://www.tejo.org/) mit. Aus
ihr entwickelte sich 1990 die selbständige 'Esperanto-Jugend (DDR)', die sich
im Dezember gleichen Jahres mit der Deutschen Esperanto-Jugend vereinigte.

Die Arbeit mit Kindern wurde durch eine Kommission koordiniert, die u.a. von
1981-1989 zehn Kindertreffen organisierte.

Beschränkungen staatlicherseits (Reisebeschränkungen, Valutamangel,
Einfuhrbeschränkungen, wenig 'Westbeziehungen') und eine (zwar abnehmende,
doch regional immer wieder auftauchende) unterschiedlich ausgeprägte
Reserviertheit staatlicher Stellen dem Esperanto gegenüber engten die
Betätigungsmöglichkeiten des Verbandes ein. Dennoch erschlossen ZAKE und GDREA
vielen Interessenten wertvolle internationale Beziehungen außerhalb
offizieller Kanäle und konnten erreichen, daß die internationale Sprache in
der DDR ein relativ hohes gesellschaftliches Ansehen genoss.

### Aktive

Vorsitzende des ZAKE bzw. von GDREA waren Rudi Graetz (1965-77), Rudolf
Hahlbohm (1977-81), Hans Heinel (1981-89) und Dr. Ronald Lötzsch (1989-zur
Vereinigung mit dem DEB im Mai 1991).

Sekretäre von ZAKE/GDREA waren Eugen Menger (1965-67), Raimund Knapp
(1967-68), Detlev Blanke (1968-90) und Ulrich Becker (1990-91). GDREA verfügte
über eigene Büroräume, ein Budget sowie hauptamtliche Mitarbeiter."|markdown}, 'i': 2, 'truncate': false} only %}

                      {% include 'partials/timeline_item.html.twig' with {'page': { 'content':"
**Internacia Seminario** (IS), auch unter seinem deutschen Namen
**Internationale Woche** bekannt, war lange Zeit die wichtigste Veranstaltung
der Deutschen Esperanto-Jugend e.V.

Das internationale Jugendtreffen fand jährlich zum Jahreswechsel an
unterschiedlichen Orten in Deutschland statt. Von 1957 bis 2008 wurde es
insgesamt 52 mal veranstaltet.

Jede Internationale Woche wurde unter einem allgemeinen Thema veranstaltet,
das das Programm maßgeblich bestimmte. Neben den themenbezogenen Vorträgen und
Diskussionsrunden fanden aber auch regelmäßig Konzerte, Exkursionen ins Umland
und natürlich der große Silvesterball mit Tanzwettbewerb statt.

Seit dem Jahr 2009 wurde die Internationale Woche durch die Jugend-Esperanto-
Woche ersetzt, die seitdem jährlich von der Deutschen Esperanto-Jugend
mitorganisiert wird."|markdown}, 'i': 3, 'truncate': false} only %}


                      {% include 'partials/timeline_item.html.twig' with {'page': { 'content':"Nach der Wiedervereinigung und dem Fall des Eisernen Vorhangs begann ein neuer
Abschnitt in der Geschichte der DEJ. Die vormals geteilte Welt erschien nun
greifbarer. Die Erfolge auf dem Gebiet der internationalen Jugendarbeit
belohnte das [Bundesministerium für Familie, Senioren, Frauen und
Jugend](http://www.bmfsfj.de/) 1993 mit einer Anerkennung der DEJ als Träger
der freien Jugendhilfe nach § 75 KJHG. Mit Mitteln aus dem Kinder- und
Jugendplan des Bundes konnte die DEJ fortan ihr Angebot für Mitglieder
erweitern und verbessern.

Umzüge der Bundesgeschäftsstelle geschahen in den 90ern sehr häufig. Nach der
Vereinigung der beiden Esperanto-Jugenden gab es zunächst eine Zeit lang zwei
Geschäftsstellen in Bonn und Berlin. Seit 1994 ging es komplett nach Berlin,
wo man von Unter den Linden über die Chausseestraße und Grellstraße eine
Bleibe im Esperanto-Haus in der Einbecker Straße 36 fand.

Die rasche Verbreitung des Internets nutzte die DEJ 1996 mit dem Erwerb der
Domain esperanto.de, die seitdem zusammen mit dem [Deutschen Esperanto-
Bund](http://esperanto.de/deb/) betrieben wird. Seit 2003 sind die neuen
Ausgaben der Vereinszeitschrift **kune** auch vollständig im Internet lesbar.
Alle bisher erschienenen Exemplare liegen in unserer
[Bundesgeschäftsstelle](http://esperanto.de/dej/bero) im Archiv zum Schmökern
bereit. 2010 wurde die Vereinszeitschrift in Papierform eingestellt, da sie
seit mehreren Jahren nur noch unregelmäßig erschien und junge Leute lieber im
Internet Neuigkeiten erfuhren und sich vernetzten.

Mittlerweile erscheint die kune wieder regelmäßig in Papierform in sechs
Ausgaben pro Jahr und zwar als integraler Bestandteil der Zeitschrift des
Deutschen Esperanto-Bundes, der **Esperanto aktuell**.

Zum Jahreswechsel 2008/09 fand die letze Internationale
Woche statt. Seit 2009 findet stattdessen in Zusammenarbeit mit der Polnischen Esperanto-Jugend die Jugend-
Esperantowoche statt, die abwechselnd auf deutscher und polnischer Seite
organisiert wird.

Weiterlesen: Ausführliche Artikel zur Geschichte von Esperanto hat die
Zeitschrift “La Ondo de Esperanto” zusammengestellt.


"|markdown}, 'i': 4, 'truncate': false} only %}

                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
